.header-search-icon{
    width: 22px;
    height: 22px;
    color: #8E8E8E;
}
.header-input input{
    outline: none;
    text-align: center;
    padding: 5px 20px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    font-size: 12px;
}

.header-input {
    position: relative;
}
.search-icon-container {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header-search-icon {
    max-width: 9px;
}
.headerofProfile{
    margin-top: 20px;
}
#imageprofile{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#userphoto{
    margin-top: 20px;
    width:140px;
    height: 140px;
    border-radius: 50%;
}

.line {
    border: 1px solid #000;
    min-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    border-color: #DBDBDB; 
}




.aboutuser{
    justify-content: center;
    width: 70%;
    margin-top: 15px;
}
.stateuser{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name{
    gap: 20px;
}
.name h3{
    font-size: 25px;
    font-weight: 350;
}
.follow-btn{
    gap:15px;
}
.btn-f{
    padding: 6px 18px;
    border-radius:4px;
}
.More-setting{
    border: none;
    background: transparent;
    margin-left: -9px;
    margin-top: 4px;
}
.More{
    opacity: 0;
    border: none;
    background: transparent;
    margin-left: -9px;
    margin-top: 4px;
}
.settings-comment:hover > .More{
    transition: .1s;
    opacity:1;
}
.states-item{
    margin: 15px 20px 15px 0;

}
h2{
    font-weight: 500;
    margin-right: 4px;
}


.posts{
    position: relative;
}
.posts-hr::before{
    content: "";
    border-top: 1px solid #000;
    position: absolute;
    top: 0;
    width: 100px;
}
.posts-hr{
    display: flex;
    justify-content: center;
    width: 400px;
}
.posts-img{
    margin-top: 10px;
    gap: 10px;
}
.posts-img h3{
    font-weight: 500;
    font-size: 12px;
}

.posts-images{
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.posts-images img{
    
    width: 100%;
    height: 293px;
}
.post{
    max-width: 32.5%;
    width: 100%;
    margin-bottom: 5px;
}


@media (max-width:933px) {
    .post-container{
        display: grid;
        margin: 0 auto;
    }
    .posts-images img{
        width: 100%;
        height: 250px;
    }
}

@media (max-width:750px) {
    .posts-images img{
        height: 220px;
    }
}


@media (max-width:760px) {
    .header-search, .header-navigation{
        display: none;
    }
    .aboutuser{
        width: 100%;
        flex-direction: column;
        align-items: left;
        margin-left: 15px;
    }
    .userprofilephoto{
        display: flex;
        width: 100%;
    }
    .stateuser{
        width: 100%;
        margin: 0 auto;
    }
    .follow-btn{
        width: 100%;
    }
    .foradaptive{
        display: flex !important;
        margin-left: 20px;
    }
    .name{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
    }
    .name h3{
        width: 100%;
    }
    #userphoto{
        width: 120px;
        height: 120px;
    }
    .posts-hr{
        width: 40%;
    }
    .line{
        margin-top: 10vh;
    }
    .footer{
        display: none;
    }
    .nav-states{
        display: flex !important;
    
    }
    .li{
        display: flex !important;
    }
    .states{
        display: none;
        text-align:  center;
    }
    .nav-state{
        text-align: center;
    }
    .states-item{
        margin: 0;
    }
    .bio h2{
        margin-top: 15px;
    }

}
@media (max-width:700px) {
    .posts-images img{
        height: 190px;
    }
}
@media (max-width:620px) {
    .posts-images img{
        height: 190px;
    }
}
@media (max-width:520px) {
    .posts-images img{
        height: 140px;
    }
}
@media (max-width:400px) {
    .posts-images img{
        height: 120px;
    }
}