.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-top{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer a{
    display: block;
    color: #737373;
    text-decoration: none;
    font-size: 12px;
}
.footer-bottom{
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

}