.Home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.home-left{
    width: 60%;
    
}
.home-right{
    width: 35%;
}
.stories{
    display: flex;
    justify-content: left;
    max-width: 200px;
    min-width: 40px;
}
.ThePostSInHomePage{
    min-height: 320px;
    border: 1px solid #dbdbdb;
}
.story{
   width: 100%;
   padding: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.story img{
    width: 56px;
    min-width: 40px;
    height: 56px;
    border-radius: 56px;
    padding: 2px;
    position: relative;
    z-index: 2;
}
.story h4{
    margin-top: 3px;
    font-size: 13px;
    font-weight: 350;
}
.story{
    font-size: 14px;
    text-align: center;
    max-width: 70px;
    min-width: 40px;
}
.borderstory{
    border: 1px solid #b7b1b1;
    border-radius: 50%;
}
.ProfileAllStories{
    margin: 40px 0 40px 20px;
    gap: 20px;
}
.Profilestories{
    max-width: 300px;
}
.ProfileUserStory{
    max-width: 100px;
}
.ProfileUserStories{
    width: 75px !important;
    height: 75px !important;
}


.header-home-post{
    padding: 10px;
}
.who-post img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 32px;
}
.home-post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.who-post h3{
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
}
.about-home-post{
    display: flex;
    align-items: end;
}
.add-comment-home-post{
    margin-bottom: 20px;
}
.add-comment-home-post h3{
    font-size: 13px;
    font-weight: 500;
}
.about-home-post p{
    margin-top: 3px;
    margin-left: 5px;
    font-size: 13px;
}
.gray-p{
    font-size: 14px;
    color: #b8b8b8;
    padding: 4px 0;
}
.gray-p:last-child{
    font-size: 10px;
}
.title-suggest h3{
    color: #b8b8b8;
}
.p2{
    padding: 2px 4px;
}
.p02{
    padding: 2px 0;
}
.suggest{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}
.suggest-user{
    margin: 10px 0;
}
.suggest-user img{
    width: 32px !important;
    height: 32px !important;
}
.suggest-user-title h2 {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.suggest-user-title h3{
    font-size: 12px !important;
}
.blue{
    color: #0095f6;
    font-size: 13px;
    font-weight: 500;
}
@media (max-width:991px) {
    .home-right{
        display: none;
    }
    .Home{
        justify-content: center;
        width: 100%;
    }
    .home-left{
        justify-content: center;
        width: 70%;
    }
}
@media (max-width:665px) {
    .story img{
        width: 48px;
        height: 48px;
    }
    .story h4{
        font-size: 12px;
    }
}