.main-window{
    width: 100%;
    height: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}
.Modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 550px;
    border-radius: 15px;
}
.Modal-window h1::after{
    content: "";
    position: absolute;
    left: 0;
    background-color: #888888a0;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    
}
.Modal-window h1{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
   
}
.load{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.load h2{
    font-weight: 400;
    font-size: 20px;
}
.selectimage-btn{
    border-radius: 7px;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 999;
}
.btn-upload{
    position: relative;
    padding: 8px 17px;
    border-radius: 7px;
    font-weight: 600;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
}


.image-filters{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px 0px;
    border: 1px solid #888;
    width: 55%;
    max-height: 500px;
    height: 100%;
    border-radius: 15px;
    box-sizing: border-box;
}
.header-filters{
    margin: 0px 10px 10px 10px;
    box-sizing: border-box;
}
.header-filters h1{ 
   font-weight: 500;
   font-size: 16px;
}
.header-filters h2{ 
    font-weight: 400;
    color: #0095f6 ;
    font-size: 14px;
 }
.header-filters h2:hover{ 
    color: #112d3f ;
    transition: .3s;
    cursor: pointer;
}
.image-from-modal{
    width: 50%;
    height: 100%;
    box-sizing: border-box;

}
.image-from-modal img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
}
.all-img{
    display: flex;
    width: 100%;
    height: 444px;
}

.right-filters{
    width: 35%;
    margin-left: 20px;
}
.close{
    position: absolute;
    right: 40px;
    top: 40px;
    color: #888;
    font-size: 24px;
    cursor: pointer;
}
.about-post{
    width: 40%;
    margin: 0 auto;
    margin-left: 20px;
}
.caption{
    width: 100%;
    max-height: 250px;
    height: 100%;
    position: relative;
}
.caption::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #bdbdbd;
    
}
.back{
    cursor: pointer;
}
.smile{
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 13px;
    color: #888;
}
.count{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 20px;
}
.count h2{
    font-size: 12px;
    color: #acacac;
}
.header-post h1{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.header-post img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}
textarea{
    width: 90%;
    resize: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    outline: none;
    overflow-y: 100px;
}
@media (max-width:1217px) {
    .image-filters{
        height: min-content;
        padding-bottom: 50px;
    }
}
