.main-window{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 9;
}
.Modal-select-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: none;
    border-radius:0px 4px 4px 0 ;
    width: 70%;
    height: 90%;
}
.Modal-select-window{
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.left-modal-window{
    width: 50%;
    height: 100%;
}
.left-modal-window img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-modal-window{
    width: 50%;
}
.header-right-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    margin-top: 12px;
}

.main-section{
    padding: 12px;
    height:67%;
    overflow-y:auto ;
}
.main-section::-webkit-scrollbar {
    width: 0px; /* Ширина полосы прокрутки */
  }
.CommentOfUser{
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    margin-bottom: 15px;
}
.UserThatPosted{
    display: flex;
    justify-content: space-between;
}
.User-name-in-header{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    margin-left: 20px;
}
.User-name-in-header h3:first-child{
    font-weight: 500;
    font-size: 15px;
}
.User-name-in-header h3:last-child{
    font-weight: 400;
    font-size: 14px;
}
.hr{
    width: 100%;
    height: 0.2px;
    background-color: #8888883d;
    margin: 12px 0;
}
.hr2{
    background-color: #0095f6;
}
.comments{
    width: 100%;
    margin-left: 20px;
}
.comments h4{
    font-size: 12px;
    color: #737373;
}
.settings-comment h4:nth-child(2){
    font-weight: 500;
}
.comments p{
    display: flex;
    font-size: 14px;
    margin-left: 15px;
    max-width: 250px !important;
    width: 100%;
}
.comment h3{
    font-size: 14px;
}
.settings-comment{
    gap: 10px;
}
.time-ago{
    font-size: 12px !important;
    color: #737373;
    margin-left: 0 !important;
    width: max-content !important;
}
.fa-heart-h{
    width: 14px;
    height: 14px;
    color: rgb(255, 0, 128);
    margin-right: 0;
}


.add-comment{
    
    padding:0 12px;
}
.options{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.iconselect{
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-right: 15px;
    fill: none;
}
.iconselect:hover{
    color: #B8B8B8;
    cursor: pointer;
    transition: .2s;
}
.heart{
    color: red !important;
}
.iconbook{
    margin-right: 0;
}

.likeOfPoST{
    font-size: 13px;
    font-weight: 400;
    margin: 12px 0 0 0;
}
.likeOfPoST span{
    font-weight: 500;
}
.likeOfPoST span:hover{
    transition: .1s;
    font-weight: 500;
    color: #d4cece;
    cursor: pointer;
}
.add-comment h3:last-child{
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
    letter-spacing: .2px;
    box-sizing: border-box;
}
.add-comment-to-input{
    position: relative;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 12px;
    border-top: 1px solid #8888882b;
    box-sizing: border-box;
}
.add-comment-to-input input{
    border: none;
    background:transparent;
    outline: none;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.smileOfSelect{
    width: 22px;
    height: 22px;
    color: #000;
}
.Add-comment-to-post{
    position: absolute;
    right: 0;   
    margin-right: 12px;
    background: transparent;
    border: none;
    color: #0095f6;
}
.full-width {
    width: 100%;
}
.withoutcolor{
    opacity: 0.5;
}
.nocomments{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nocomments h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.nocomments p {
    font-size: 14px;
    font-weight: 300;
}