/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/style/pages/registration.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 40px;
}
.reg-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    border: 1px solid #DBDBDB;
}
.reg-header{
    max-width:268px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.reg-header>p{
    text-align: center;
    width: 200px;
    color: #737373;
}
.reg-btn{
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    padding: 7px;
    border-radius:8px;
    font-weight:bolder;
}
.btn{
    background-color: #0095F6;
    border: none;
    color: #fff;
}
.Line {
    display:flex;
    text-align: center;
    align-items: center;
}
.Line h2{
    color: #737373;
    font-weight: 500;
}
  
.line {
    width: 115px; 
    border-top: 0.5px solid black; 
    margin: 0 9px; 
    color: #DBDBDB;
}
.regForm{
    width: 268px;
}
.regForm input{
    border-radius:3px ;
    border: 1px solid #DBDBDB;
    outline: none;
    width: 100%;
    padding: 7px 0px 7px 7px;
    margin-top: 7px;
    box-sizing: border-box;

}
.rules{
    text-align: center;
    font-weight: 400;
    line-height: 12px;
}
.rule{
    color: #737373;
    font-size: 11px;
    margin-top: 10px;
}
.rule a{
    text-decoration: none;
    color: #00376b;
    font-size: 12px;
}
.signup{
    border-radius:3px ;
    border: 1px solid #DBDBDB;
    outline: none;
    width: 100%;
    padding: 7px 0px 7px 7px;
    margin: 15px 0 20px 0;
    box-sizing: border-box;
    font-weight: 600;
}
.haveLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
    text-align: center;
}
.haveLogin a{
    text-decoration: none;
    color: #0095F6;
    font-size: 14px;
}
.haveLogin p{
    color: #737373;
    font-size: 14px;
    margin-top: 10px;
}
.InApps h3{
    margin-bottom: 15px;
}
.InApps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.InApps img{
    margin-right: 5px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/style/vendor/reset.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/style/components/footer.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-top{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer a{
    display: block;
    color: #737373;
    text-decoration: none;
    font-size: 12px;
}
.footer-bottom{
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

}
